body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9fbfd;
}

.container .ql-editor {
  width: 8in;
  min-height: 11in;
  padding: 1in;
  margin: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: white;
}

.container .ql-container.ql-snow {
  display: none;
  display: flex;
  justify-content: center;
}
.ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* /SignUp Page/ */

.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.logout {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  top: 0;
  z-index: 1;
  right: 0;
  margin-right: 0.2em;
  margin-top: 0.2em;
}
/* 
  .signup-link {
    margin-top: 10px;
    display: flex;
    align-items: center;
  }
  
  .signup-link p {
    margin-right: 5px;
  }


  .signup-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-field {
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .signup-button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signup-button:hover {
    background-color: #45a049;
  }
  
  .login-link{
    margin-top: 10px;
    display: flex;
    align-items: center;
  }

  .login-link p{
    margin-right: 5px;
  }

  .logout{
    position: absolute;
    top: 0;
    z-index: 1;
    right: 0;
    margin-right:0.2em ;
    margin-top: 0.2em;
  } */
